# IDE and OS files
.DS_Store
.vscode/

# Python artifacts
__pycache__/

*.pyc
*.pyo
*.pyd

# Database files
chroma_db/
*.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env
.env.local
.env.development
.env.production
env/
venv/

# Ignored directories
LLM API/docling_docs/

